streamlit>=1.32.0
pandas>=1.3.0
pysqlite3-binary
chromadb
openai
spacy>=3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
matplotlib>=3.0.0
python-dotenv
